{% extends 'base.html' %}

{% block start %}
<style>
    .add{
        text-align:center;
        color: rgb(155, 104, 47);
        border-bottom:2px solid gray;
        padding-bottom:5px;
    }
</style>

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="add">Login Here</h2><br>
        
        <div class="mb-3">
            <label for="receipe name" class="form-label">username</label>
            <input   type="text" name="username" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="receipe name" class="form-label">password</label>
            <input   type="text" name="password" required class="form-control">
        </div>
        <p>Don't have account? <a href="{% url 'register' %}">register</a> </p>
        <button type="submit" class="btn btn-success" style="background-color: rgb(155, 104, 47);">Login</button>
    </form>
</div>
{% endblock start %}
    